.container-navbar {
  background-color: rgb(15, 15, 15);
  width: 100%;
  top: 0;
  z-index: 1;
  padding: 0;
  display: flex;
  margin: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
}

.container-navbar button:hover {
  background-color: rgb(168, 170, 170);
}

.logo-search-container #btn-menu {
  display: none;
}

.logo-search-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 0.5rem;
  padding: 0.2rem;
  border-radius: 5px;
}

.list-item.active {
  background-color: #555;
}

.search-input {
  background-color: #dad8d8;
  border: none;
  padding: 0.3rem;
  color: white;
  border-radius: 5px;

}

.ul-class {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
}

.ul-class li {
  font-size: .9rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.list-item {
  background-color: #222222;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.2rem 0;
  transition-duration: .4s;
  cursor: pointer;
}

.list-item:hover {
  background-color: #444;
}

.list-item a {
  text-decoration: none;
  color: white;
}


.login-button {
  margin-right: 2%;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition-duration: 0.6s;
}


.search-item {
  filter: invert(100%);
}

.navbar-logo {
  width: 70px;
  height: auto;
}

/* responsive */

@media (max-width: 720px) {
  .container-navbar {
    left: -250px;
    width: 259px;
    height: 100vh;
    flex-direction: column;
    z-index: 4;
    transition: left 0.3s ease-in-out;
  }

  .ul-class {
    flex-direction: column;
  }

  .mobile-login-button {
    filter: invert();
    width: 40px;
    background: url('user.svg') no-repeat center center;
    padding: 10px;
  }

  .search-item {
    display: none;
  }

  .search-input {
    font-size: 10px;
    margin-top: 20px;
  }

  #back-menu {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .logo-search-container #btn-menu {
    cursor: pointer;
    font-size: 30px;
    top: 20px;
    right: -60px;
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }

  .container-navbar.menu-open {
    left: 0;
  }
}