/* .container-carousel {
    width: 1200px;
    height: fit-content;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 600px;
    min-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: relative;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
